.main{
    width :100%;
    height: 100%;
    background-color: aquamarine;
}
.btn-theme{
    background-color: #FFE259;
    border-radius: 30px
}
.btn-theme:hover{
    background-color: transparent;
    color: white;
}
.hero{
    background-color: red;
    height: 100%;
    
    
}
.right{
    background-color: beige;
    width: 100%;
    height: 100%;
}